<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <style>
            textarea {
                font-size: 12px;
            }
            .column {
                float: left;
            }
            .left {
                width: 25%;
            }
            .right {
                width: 75%
            }
        </style>
        <script type='text/javascript'>
            var analyzeCommentsEndpoint = "{{analyze_comments_endpoint}}"
        </script>
        <script src="{% static "sentiment/analyze.js" %}"></script>
    </head>
    <body>
        <h1>Chatty</h1>
        <h2>Analyze Conversations Between Two People</h2>
        <div class="row">
            <form onsubmit="requestAnalysisAsync(updateAnalysisDisplay); return false">

                <div class="column">
                    <textarea id="inputText" class="text" cols="40" rows ="32" name="inputText" font-size="30px"></textarea>
                    <br>
                    <input type="submit" value="Analyze" class="submitButton" target="analysis">
                </div>

                <div class="column">
                    <ul id="analysisComments">

                    </ul>
                </div>

            </form>
        </div>
    </body>
</html>